<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.company.injection.Person">
		<property name="name" value="10" />
		<property name="invoice" ref="invoiceWithTax" />
	</bean>

	<bean id="invoiceWithTax" class="com.company.InvoiceWithTax">
		<property name="number" value="10" />
		<property name="concept" value="Computer" />
		<property name="amount" value="310" />
	</bean>

	<bean id="personCollection" class="com.company.collection.Person">
		<property name="name" value="10" />
		<property name="invoice" ref="otherInvoiceWithTax" />
	</bean>

	<bean id="otherInvoiceWithTax"
		class="com.company.collection.InvoiceWithTax">
		<property name="number" value="10" />
		<property name="concept" value="Computer" />
		<property name="amount" value="310" />
		<property name="lines">
			<list>
				<ref bean="lineOne" />
				<ref bean="lineTwo" />
			</list>
		</property>
	</bean>

	<bean id="lineOne" class="com.company.collection.InvoiceLine">
		<property name="number" value="1" />
		<property name="concept" value="Computer" />
		<property name="amount" value="300" />
	</bean>

	<bean id="lineTwo" class="com.company.collection.InvoiceLine">
		<property name="number" value="2" />
		<property name="concept" value="Computer" />
		<property name="amount" value="430" />
	</bean>
</beans>
 